div#indexcontainer
  h1= title
  p Welcome to #{title}
  a(href="/main") Click me!
  div#loginContainer
      h2 Login
      form#login
        p
          label Username:
            input(type='text', name='username', id='loginuser')
        p
          label Password:
            input(type='text', name='password', id='loginpass')
        P
          input(type='submit', value='Login', name='submit')
  div#registerContainer
    h2 Register
    form#register
      p
        label Username:
          input(type='text', name='username', id='reguser')
      p
        label Password:
          input(type='text', name='password', id='regpass')
      p
        label Race:
          select#regrace(name='race')
            option(value='mage') Mage
            option(value='warrior') Warrior
            option(value='paladin') Paladin
            option(value='priest') Priest
        br
        label Type:
          select#regracetype(name='type')
      P
        input(type='submit', value='Register', name='submit')
  p#result

script new tartcraft.Bootstrapper();
