<div class='container'>
    <div class='left'>
        <div class="chatBox">
            <textarea rows="10" cols="50" readonly>TartCraft Server started.</textarea>
        </div>
        <div class="messageBox">
            <textarea rows="1" cols="50" placeholder="Enter your message to post."></textarea>
        </div>
    </div>
    <div class="right">
        <div class="userListContainer">
            <select class="userList" size="10">
                <option>user1</option>
                <option>user2</option>
                <option>user3</option>
                <option>user4</option>
            </select>
        </div>
        <div class="functions">
            <button class="1">Click Me!</button>
            <button class="2">Click Me!</button>
            <button class="3">Click Me!</button>
            <button class="4">Click Me!</button>
        </div>
    </div>
</div>
