<div class='container'>
    <div class='left'>
        <div class="chatBox">
            <textarea id="dialogBox" rows="15" cols="50" readonly>TartCraft Chat Server started.</textarea>
        </div>
        <div class="messageBox">
            <form id="chat">
                <input type="text" id="chatMessage"/>
                <input type="submit" value="submit" name="submit" style="display:none">
            </form>
        </div>
        <button id="resetButton">Clear</button>
    </div>
    <div class="right">
        <div class="userListContainer">
            <select class="userList" size="10" cols="50">
                <option>user1</option>
                <option>user2</option>
                <option>user3</option>
                <option>user4</option>
            </select>
        </div>
        <div class="functions">
            <button class="1">Click Me!</button>
            <button class="2">Click Me!</button>
            <button class="3">Click Me!</button>
            <button class="4">Click Me!</button>
        </div>
    </div>
</div>
