div.container
  div.left
    div.chatbox
      textarea(readonly, rows=25, cols=50) tartCraft chat server is now started.
    div.messagebox
      textarea(rows=1, cols=50, placeholder="Enter your message to post.")
  div.right 
    div.userlistcontainer
      select.userlist(size=10, cols=50)
        option(value='user1') user1
        option(value='user2') user2
        option(value='user3') user3
        option(value='armagan') armagan
    div.functions
      button.1 clickme1
      button.2 clickme2
      button.3 clickme3
      button.4 clickme4