body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/wallpaper.jpeg");
  background-position-x: -300px;
}

a {
  color: #00B7FF;
}

h1 {
    text-shadow: 0 0 5px white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    margin:0 auto;
    width: 1100px;
}

.indexcontainer {
    width: 200px;
    border-radius: 10px; 
    background-image: url("/images/transparent.png");
    
}

.userlist {
    width: 272px;
    margin-bottom: 10px;
}
